{
  "env": {
    "test": {
      "presets": [    [
        "@babel/preset-env", {
          "modules": "commonjs",
          "targets": {
            "node": "current"
          }
        }
      ]
      ]
    }
  },
  "presets": [
    [
      "@babel/preset-env", {
      "modules": false,
      "loose": false,
      "useBuiltIns": "usage"
    }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-transform-runtime", {
      "regenerator": false
    }
    ]
  ],
  "comments": false
}
